################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibTorchSharp/v15
/CMakeFiles
/LibTorchSharp.dir/Release
/src/CMakeFiles
/src/cmake_install.cmake
/x64
/cmake_install.cmake
