################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibTorchSharp/v15
/CMakeFiles
/LibTorchSharp.dir/Release
/src/CMakeFiles
/src/cmake_install.cmake
/x64
/cmake_install.cmake
/Debug
/LibTorchSharp.dir/Debug
/Release
/src/Makefile
/Makefile
/libTorchSharp.vcxproj.filters
/libTorchSharp.vcxproj
/libTorchSharp.so
/libTorchSharp.sln
/CMakeCache.txt
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj
/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
